{% extends 'sbadmin.html.twig' %}

{% block title %}Gestion des commentaires!{% endblock %}

{% block final_stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Moderateur des commentaires</h1>
        
        <!-- Tableau  -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Utilisateur</th>
                            <th>article</th>
                            <th>contenu</th>
                            <th>Date de création</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--une ligne du tableau-->
                        {% for comment in comments %}
                        <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.user.displayName }}</td>
                        <td>{{ comment.post.title }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.createdAt | date }}</td>
                        <td>
                            <a href="{{ path('admin_comment_delete', {id: comment.id, _csrf_token: csrf_token('delete')}) }}" class="btn btn-danger btn-sm"  onclick="return confirm('Etes-vous certain ?')">Supprimer</a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Utilisateur</th>
                            <th>article</th>
                            <th>contenu</th>
                            <th>Date de création</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('sbadmin/js/datatables-simple-demo.js')}}"></script>
{% endblock %}

